<%- contentFor('mainheader') -%>

		<div class="position-relative">
			
                                <%- include("../views/partials/_navbar.ejs") -%>
                       
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                        Edit Photo
                    </p>                	
				</div>                
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>
<%- contentFor("body") %>
			<div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">					
					<div class="row mt-3 mb-5 pb-3">
						<div class="col-12">
							<div class="mx-auto tm-about-text-container px-3">
								<h2 class="tm-page-title mb-4 tm-text-primary">Add Photo</h2>
                           
                               
							</div>							
						</div>
                        		
					</div>
                    <div class="mx-auto pb-3 tm-about-text-container px-3">
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <form id="photoForm" action="/photos/save" method="POST" _method="put"  class="tm-contact-form" enctype="multipart/form-data">
                                  <div class="form-group">
                                      <input type="hidden" name='slug' value="<%=photo.slug %>">
                                    <input type="text" name="title" class="form-control rounded-0" placeholder="title" required="required" value='<%=photo.title %>' />
                                  </div>
                                  <div class="form-group">
                                    <textarea rows="8" name="description" class="form-control rounded-0" placeholder="Description"><%=photo.description %></textarea>
                                  </div>
                                  <div class="form-group">
                                    <input type="file" name="img" class="form-control-file " placeholder="Image"  />
                                  </div>
                                
                                  <div class="form-group">
                                    
                                  </div>

                                  <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Submit</span></button>
                                  </div>
                                </form>    
                            </div>
                          
                        </div>  
                    </div>                                      			
				</div>

				<div class="parallax-window parallax-window-2" data-parallax="scroll" data-image-src="/img/contact-2.jpg"></div>

                
			</div>
		</main>

		<div class="container-fluid tm-content-container mx-auto pt-4">
			<!-- Subscribe form and footer links -->
            <div class="row pt-3">
                <div class="col-xl-6 col-lg-12 mb-4">
                    <div class="tm-bg-gray p-5 h-100">
                        <h3 class="tm-text-primary mb-3">Do you want to get our latest updates?</h3>
                        <p class="mb-5">Please subscribe our newsletter for upcoming new videos and latest information about our
                            work. Thank you.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="p-5 tm-bg-gray">
                        <h3 class="tm-text-primary mb-4">Quick Links</h3>
                        <ul class="list-unstyled tm-footer-links">
                            <li><a href="#">Duis bibendum</a></li>
                            <li><a href="#">Purus non dignissim</a></li>
                            <li><a href="#">Sapien metus gravida</a></li>
                            <li><a href="#">Eget consequat</a></li>
                            <li><a href="#">Praesent eu pulvinar</a></li>
                        </ul>    
                    </div>                        
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="p-5 tm-bg-gray h-100">
                        <h3 class="tm-text-primary mb-4">Our Pages</h3>
                        <ul class="list-unstyled tm-footer-links">
                            <li><a href="#">Our Videos</a></li>
                            <li><a href="#">License Terms</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Privacy Policies</a></li>
                        </ul>
                    </div>                        
                </div>
            </div> <!-- row -->

            <footer class="row pt-5">
                <div class="col-12">
                    <p class="text-right">Copyright 2020 The Video Catalog Company 
                        
                        - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
                </div>
            </footer>
		</div>		
	</div>


    <script src="/js/parallax.min.js"></script>    